        <div class="row justify-content-center">
            {{!-- Fila 1 --}}
                <h4>
                    Hola {{persona}}
                </h4>
                <a class="btn btn-danger" href="/admin/login/logout">
                    Cerrar sesion
                    <i class="fa fa-sign-out" aria-hidden="true">
                    </i>
                </a>
        </div>
         {{!-- Fin Fila 1 --}}
         <br>
         <br>
        {{!-- Fila 2 --}}
        <div class="row">
            <div class="col-4">
                <h5>Novedades</h5>
            </div>
            <br>
            <br>
            <div class="col-8 text-end">
                <a class="btn btn-success" href="/admin/novedades/agregar">
                    <i class="fa fa-plus" aria-hidden="true">
                    </i>
                    Nueva Noticia
                </a>
            </div>
        </div>
        {{!-- Fin Fila 2 --}}
        {{!-- Fila 3 --}}
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                        <tr class="table-dark">
                            <th scope="col">ID</th>
                            <th scope="col">Titulo</th>
                            <th class="text-end">Acciones</th>
                        </tr>
                    </thead>
                    <tbody> 
                        {{#each novedades}}
                        <tr>
                            <th scope="row">{{id}}</th>
                            <td>{{titulo}}</td>
                            <td class="text-end">
                                <a class="btn bt-secondary"  href="/admin/novedades/modificar/{{id}}">
                                    <i class="fa fa-pencil" aria-hidden="true" >
                                    </i></a>
                                <a class="fa fa-trash" aria-hidden="true" href="/admin/novedades/eliminar/{{id}}"></a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        {{!-- Fin Fila 3 --}}
